<html>
    <body>
        <div class="categories-bar">
            <div class="category-box" id="categories">
                <p>Categories</p>
            </div>
            <div class="category-box" id="new-today">
                <p>New Today</p>
            </div>
            <div class="category-box" id="ending-today">
                <p>Ending Today</p>
            </div>
            <div class="category-box" id="hot-50">
                <p>Hot 50</p>
            </div>
        </div>
    </body>
</html>